body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #c4cfef;
}

.title {
  flex: 1;
  text-align: center;
  place-content: center;
  display: flex;
  font-size: 50px;
}
.flex-container {
  flex: 1;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border: 1px black solid;
  padding: 10xp;
  width: 1100px;
  height: 400px;
  margin: 8px;
}
.all-tasks .task-list.title {
  flex: 1;
  order: initial;
  flex-basis: 150px;
  padding: -100px;
  width: -150px;
  height: -150px;
  margin: 8px;
  flex-shrink: inherit;
}
.task-list {
  list-style: circle;
}

.todo-list {
  order: initial;
  border-width: 20px 20px 20px 20px;
  border-style: solid;
  border-color: cadetblue;
  background-color: cadetblue;
  padding: 20px;
  border-radius: 10px;
  flex-basis: 340px;
  align-self: stretch;
  margin: 10px;
}

.list-title {
  flex: 1;
  order: initial;
}
.tasks {
  background: #cce5ff;
  margin: 10px;
  border-radius: 10px;
}
.new-task-creator {
  background: #cce5ff;
  margin: 10xp;
  border: 10xp;
  border-radius: 10px;
}
